/* tablet */
@media (min-width:46.25em) and (max-width: 63.9375em) {
    .top-bar {
        padding: 12px;
    }
    .hero{
        grid-template-columns: 1fr 3fr;
        gap:0px;
        height: 300px;
    }
    .hero-image .img{
        height: auto;
        width: 250px;
        
    }
    .hero h1 {
        font-size: 32px;
        max-width: 500px;
    }
    .hero p{
        max-width: 400px;
        margin-top: 25px;
        text-align: justify;
    }
    
    .hero-content {
        margin: 50px 0 0 0px;
        max-width: 450px;
        color: #C6DEFD;
    }
    .img{
        height: auto;
        display: flex;
        align-items: center;
        margin: 0 auto;
         margin-top:34px;
         width: 320px;
         bottom: 0;
     }    
     .btn{
    display:flex ;
    align-items:center;
    text-align: center;
    padding: 20px 25px;
    justify-content: center;
    margin-top: 40px;
     }
     .btn-1{
        background-color: var(--green-color);
        padding: 20px 15px;
        justify-content: center;
        color: var(--primary-color);
        text-decoration: none;
        font-size: 15px;
        margin-left: -25px;
        margin-right: 12px;
        width: 240px;
        border-radius: 55px;
    }
    
    .btn-2{
        background-color: var(--yellow-color);
        padding: 20px 15px;
        font-size: 15px;
    
        color: var(--primary-color);
        
        text-decoration: none;
        
        
        /* margin-right: 32px; */
        width: 240px;
        border-radius: 55px;
    }
     /*Phần features*/
    .features {
        grid-template-columns: repeat(2, 1fr); /* 2 cột cho tablet */
    }

    .health-tips {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
    }
    .close {
        display: none
    }
    .footer-info{
        font-size: 13px;
    }
    /*tips item*/
    .reviews {
        margin-bottom: 70px;
    }
    .btn-1, .btn-2 {
        animation: pulse 1.5s infinite;
        transition: all 0.3s ease;
    }
}


/*Di động*/
@media (min-width: 376px) and (max-width: 46.1875em) {
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "hero-content"
            "hero-image";
        margin: 5px;
        border-radius: 15px;
        background-color: #3b3aaf;
        color: #fff;
        gap: 20px;
        height: 552px;
        animation: main 1s ease 0s 1 normal forwards;
    }
    .hero-image {
        grid-area: hero-image;
    }
    
    .hero-content {
        grid-area: hero-content;
    }
    .logo{
        font-size: 20px;
    }
    #language-text{
        display: none;
    }
    .btn{
        display: flex;
        flex-direction: column;
        padding: 0 35px;
        gap: 30px
        
       
    }
    .hero-content {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
    }
    .hero-content h1{
        display: flex;
        font-size: 35px;
        align-items: center;
        text-align:center;
    }
    .hero-image .img {
        width: 240px;
        display: flex;
        margin: 0 auto;
       align-items: center;
       margin-top: -28px;
       height: auto;

    }

    .hero_text {
        display: none; /* Ẩn phần text trên mobile */
    }

    .features {
        grid-template-columns: 1fr; /* 1 cột trên mobile */
    }

    .health-tips {
        grid-template-columns: 1fr; /* 1 cột trên mobile */
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .footer-info {
        grid-template-columns: 1fr; /* Các phần tử trong footer xếp thành 1 cột */
    }

    .btn-1, .btn-2 {
        width: 120%; 
    }
    .footer-logo {
        text-align: center;
    }

    .footer_avatar{
        display: flex;
        justify-content: center;
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .modal-content {
        max-width: 90%; 
        
    }

    .close {
        display: none;
       
    }
    .image-item img {
        margin: 0 auto
    }
    .reviews {
        margin-bottom: 70px;
    }
    .footer_dir p{
        font-size: 13px;
    }
    .btn-1, .btn-2 {
        animation: pulse 1.2s infinite;
    }
}


@media (max-width: 376px){
    .hero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "hero-content"
            "hero-image";
        margin: 5px;
        border-radius: 15px;
        background-color: #3b3aaf;
        color: #fff;
        gap: 20px;
        height: 550px;
        animation: main 1s ease 0s 1 normal forwards;
    }
    .hero-image {
        grid-area: hero-image;
    }
    
    .hero-content {
        grid-area: hero-content;
    }
    .logo{
        font-size: 18px;
    }
    #language-text{
        display: none;
    }
    .btn{
        display: flex;
        flex-direction: column;
        padding: 0 35px;
        gap: 30px
        
       
    }
    .hero-content {
        margin: 0 auto;
        max-width: 100%;
        padding: 20px;
    }
    .hero-content h1{
        display: flex;
        font-size: 30px;
        align-items: center;
        text-align:center;
    }
    .hero-image .img {
        width: 240px;
        display: flex;
        margin: 0 auto;
        height: auto;
        align-items: center;
        margin-top: -16px;

    }

    .hero_text {
        display: none; /* Ẩn phần text trên mobile */
    }

    .features {
        grid-template-columns: 1fr; /* 1 cột trên mobile */
    }

    .health-tips {
        grid-template-columns: 1fr; /* 1 cột trên mobile */
        padding: 10px;
    }

    iframe {
        width: 100%;
        height: 300px;
    }

    .footer-info {
        grid-template-columns: 1fr; /* Các phần tử trong footer xếp thành 1 cột */
    }

    .btn-1, .btn-2 {
        width: 120%; 
    }
    .footer-logo {
        text-align: center;
    }

    .footer_avatar{
        display: flex;
        justify-content: center;
    }
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    .modal-content {
        max-width: 90%; 
        
    }

    .close {
        display: none;
        
    }
    .image-item img {
        margin: 0 auto
    }
    .reviews {
        margin-bottom: 70px;
    }
    .footer_dir p{
        text-align: left;
        margin-left: 19px;
        font-size: 11px;
    }
    .how{
        font-size: 22px;
    }
    .contact{
        text-align: left;
        margin-left:19px ;
    }
    .btn-1, .btn-2 {
        animation: pulse 1.2s infinite;
    }
    .directions p{
        font-size: 9px;
    }
    .directions a{
        font-size: 12px;
        width: 50%;
    }
}

